<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>

<div th:include="fragments/common :: header"></div>

<script>
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';
</script>
<script src="/js/jquery.form.js"></script>

<div class="container">
    <div class="row">

        <div id="load-excel-file-module">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Загрузить Excel-файл:</h3>
                    </div>
                    <h3 class="has-error error" id="message" hidden="hidden"/>
                    <div class="panel-body">
                        <form role="form" method="POST" enctype="multipart/form-data" action="/analysis"
                              id="load-file-form">
                            <fieldset>
                                <div class="form-group">
                                    <label for="file" class="control-label"
                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">Excel
                                        файл:</label>
                                    <input class="form-control" name="file" type="file" id="file" required="required"/>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block" id="loadFileBtn">Загрузить
                                    файл
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="show-excel-file-module" hidden="hidden">
            <div class="col-md-12">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
                <button id="config-btn" class="btn btn-primary">Конфигурация моделей</button>
            </div>
        </div>

        <div id="config-model-module" hidden="hidden">
            <div class="col-md-6">
                <div class="login-panel panel panel-default">
                    <button type="submit" class="btn btn-sm btn-primary btn-block" id="autoModeBtn">Автоматический
                        режим
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login-panel panel panel-default">
                    <button type="submit" class="btn btn-sm btn-primary btn-block" id="manualModeBtn">Ручной режим
                    </button>
                </div>
            </div>
        </div>

        <div id="automatic-mode-module" hidden="hidden">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Тип сети:</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="mlpCheckbox" class="control-label">Многослойный перцептрон: </label>
                                    <input id="mlpCheckbox" name="mlp" type="checkbox" value="MLP"
                                           checked="checked"/><br/>
                                    <label for="mlpMinNumOfNeuron" class="control-label">Минимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" value="3"
                                           name="mlpMinNumOfNeuron" id="mlpMinNumOfNeuron" required="required"/>

                                    <label for="mlpMaxNumOfNeuron" class="control-label">Максимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" value="10"
                                           name="mlpMaxNumOfNeuron" id="mlpMaxNumOfNeuron" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="rbfCheckbox" class="control-label">Сеть радиальных базисных
                                        функций: </label>
                                    <input id="rbfCheckbox" name="rbf" type="checkbox" value="RBF"/><br/>
                                    <label for="rbfMinNumOfNeuron" class="control-label">Минимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" name="rbfMinNumOfNeuron"
                                           id="rbfMinNumOfNeuron" required="required" disabled="disabled"/>

                                    <label for="rbfMaxNumOfNeuron" class="control-label">Максимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" name="rbfMaxNumOfNeuron"
                                           id="rbfMaxNumOfNeuron" required="required" disabled="disabled"/>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<footer th:include="fragments/common :: footer"></footer>
<script type="text/javascript" src="/js/excel-sheet.js"></script>
</body>
</html>