<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>
<div th:include="fragments/common :: header"></div>

<script src="/js/grid.locale-ru.js"></script>
<script type="text/ecmascript" src="/js/jquery.jqGrid.min.js"></script>
<script>
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';
</script>

<script src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/analysis.js"></script>
<script type="text/javascript" src="/js/module-switcher.js"></script>
<script type="text/javascript" src="/js/custom-table.js"></script>

<div class="container">
    <div class="row">
        <div id="load-excel-file-module" hidden="hidden">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ввод данных:</h3>
                    </div>
                    <h3 class="has-error error" id="message" hidden="hidden"/>
                    <div class="panel-body">
                        <form role="form" method="POST" enctype="multipart/form-data" action="/spreadsheet/load"
                              id="load-file-form">
                            <fieldset>
                                <div class="form-group">
                                    <label for="file" class="control-label"
                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">Excel
                                        файл:</label>
                                    <input class="form-control" name="file" type="file" id="file" required="required"/>
                                </div>
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary" id="loadFileBtn">Загрузить
                                        файл
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-primary pull-right" id="createTableBtn">Создать таблицу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="table-module" hidden="hidden">
    <div id="create-table-module" hidden="hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" id="addColumnBtn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить столбец
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset3">
                <button type="button" class="btn btn-default for-space">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <table id="customTableJQGrid"></table>
        <div id="customTableJQGridPager"></div>
        <br/>
        <div class="modal fade" id="addColumnModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Добавление столбца</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="hidden" id="addColumnId" name="addColumnId"/>
                                <input type="text" class="form-control" id="addColumnName"
                                       placeholder="Название столбца"
                                       required="required"/>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label for="addColumnTypeSelect" class="control-label">Тип столбца:</label>-->
                            <!--<select class="selectpicker" data-live-search="true" id="addColumnTypeSelect">-->
                            <!--<option value="0">Непрерывная</option>-->
                            <!--<option value="1">Порядковая</option>-->
                            <!--<option value="2">Номинальная</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <button type="submit" class="btn btn-default btn-success btn-block"
                                    id="createColumnBtn"><span
                                    class="glyphicon glyphicon-off"></span> Сохранить
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Отмена
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editColumnModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Редактирование столбца</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="hidden" id="editColumnId" name="editColumnId"/>
                                <input type="hidden" id="editInitColumnName" name="editInitColumnName"/>
                                <input type="text" class="form-control" id="editColumnName"
                                       placeholder="Название столбца"
                                       required="required"/>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label for="editChooseTypeSelect" class="control-label">Тип столбца:</label>-->
                            <!--<select class="selectpicker" data-live-search="true" id="editChooseTypeSelect">-->
                            <!--<option value="0">Непрерывная</option>-->
                            <!--<option value="1">Порядковая</option>-->
                            <!--<option value="2">Номинальная</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <button type="submit" class="btn btn-default btn-success btn-block" id="editColumnBtn"><span
                                    class="glyphicon glyphicon-off"></span> Сохранить
                            </button>
                            <br/>
                            <button type="button" class="btn btn-danger" id="removeColumnBtn">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить столбец
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Отмена
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="show-excel-file-module" hidden="hidden">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
        <br/>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Редактирование столбца</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="hidden" id="columnId" name="columnId"/>
                                <input type="hidden" id="columnInitName" name="columnInitName"/>
                                <input type="text" class="form-control" id="columnName" placeholder="Название столбца"
                                       required="required"/>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label for="chooseTypeSelect" class="control-label">Тип столбца:</label>-->
                            <!--<select class="selectpicker" data-live-search="true" id="chooseTypeSelect">-->
                            <!--<option value="0">Непрерывная</option>-->
                            <!--<option value="1">Порядковая</option>-->
                            <!--<option value="2">Номинальная</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <button type="submit" class="btn btn-default btn-success btn-block" id="saveColumnBtn"><span
                                    class="glyphicon glyphicon-off"></span> Сохранить
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Отмена
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="table-controls-module" class="container" hidden="hidden">
        <div class="row">
            <div>
                <form action="">
                    <div class="alert alert-danger alert-dismissable fade in" id="inOutErrorBlock" hidden="hidden">
                        <a href="#" class="close" aria-label="close">&times;</a>
                        <span id="inOutErrorMessage"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6 col-md-offset-3">
                            <label for="inputContinuousColumns" class="control-label">Входные значения: </label>
                            <select class="selectpicker" multiple="multiple" data-live-search="true"
                                    data-done-button="true" data-selected-text-format="count > 3"
                                    id="inputContinuousColumns">
                            </select>
                        </div>
                    </div>
                    <!--<div class="col-md-4">-->
                    <!--<div class="col-md-6 col-md-offset-3">-->
                    <!--<label for="inputCategorialColumns" class="control-label">Входные категориальные-->
                    <!--значения: </label>-->
                    <!--<select class="selectpicker" multiple="multiple" data-live-search="true"-->
                    <!--data-done-button="true" data-selected-text-format="count > 3"-->
                    <!--id="inputCategorialColumns">-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-6">
                        <div class="col-md-6 col-md-offset-3">
                            <label for="outputContinuousColumns" class="control-label">Выходные значения: </label>
                            <select class="selectpicker" multiple="multiple" data-live-search="true"
                                    data-done-button="true" data-selected-text-format="count > 3"
                                    id="outputContinuousColumns">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <br/><br/>
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset3">
                    <button type="button" class="btn btn-default for-space">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset3">
                    <button type="button" class="btn btn-default" id="inputNewTableBtn">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Добавить новую таблицу
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset3">
                    <button type="button" class="btn btn-default for-space">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-primary" id="autoModeBtn">Конфигурация моделей в автоматическом режиме
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-primary" id="manualModeBtn">Конфигурация пользовательской модели</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset3">
                    <button type="button" class="btn btn-default for-space">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <form action="">
            <div id="automatic-mode-module" hidden="hidden">
                <div class="alert alert-danger alert-dismissable fade in" id="autoModeErrorBlock" hidden="hidden">
                    <a href="#" class="close" aria-label="close">&times;</a>
                    <span id="autoModeErrorMessage"></span>
                </div>
                <div class="col-md-6">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Тип сети:</h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label for="mlpCheckbox" class="control-label">Многослойный перцептрон: </label>
                                    <input id="mlpCheckbox" name="mlp" type="checkbox" value="MLP"
                                           checked="checked"/><br/>
                                    <label for="mlpMinNumOfNeuron" class="control-label">Минимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="20" value="3"
                                           name="mlpMinNumOfNeuron" id="mlpMinNumOfNeuron" required="required"/>

                                    <label for="mlpMaxNumOfNeuron" class="control-label">Максимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="20" value="10"
                                           name="mlpMaxNumOfNeuron" id="mlpMaxNumOfNeuron" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label for="rbfCheckbox" class="control-label">Сеть радиальных базисных
                                        функций: </label>
                                    <input id="rbfCheckbox" name="rbf" type="checkbox" value="RBF"/><br/>
                                    <label for="rbfMinNumOfNeuron" class="control-label">Минимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="20" name="rbfMinNumOfNeuron"
                                           id="rbfMinNumOfNeuron" required="required" disabled="disabled"/>

                                    <label for="rbfMaxNumOfNeuron" class="control-label">Максимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="20" name="rbfMaxNumOfNeuron"
                                           id="rbfMaxNumOfNeuron" required="required" disabled="disabled"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" id="mlpActivationFunctions">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Функции активации многослойного перцептрона:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4 class="panel-title">Нейроны скрытого слоя:</h4>
                                <div class="panel-body">
                                    <fieldset id="hiddenFuncs">
                                        <div class="form-group">
                                            <label for="hiddenLogisticFunc" class="control-label">Сигмоида</label>
                                            <input id="hiddenLogisticFunc" name="hiddenLogisticFunc" type="checkbox"
                                                   value="0"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="hiddenHyperbolicFunc"
                                                   class="control-label">Гиперболическая</label>
                                            <input id="hiddenHyperbolicFunc" name="hiddenHyperbolicFunc" type="checkbox"
                                                   value="1"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="hiddenExpFunc" class="control-label">Экспонента</label>
                                            <input id="hiddenExpFunc" name="hiddenExpFunc" type="checkbox"
                                                   value="2"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="hiddenSinFunc" class="control-label">Синус</label>
                                            <input id="hiddenSinFunc" name="hiddenSinFunc" type="checkbox" value="3"/>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="panel-title">Нейроны выходного слоя:</h4>
                                <div class="panel-body">
                                    <fieldset id="outFuncs">
                                        <div class="form-group">
                                            <label for="outLogisticFunc" class="control-label">Сигмоида</label>
                                            <input id="outLogisticFunc" name="outLogisticFunc" type="checkbox"
                                                   value="0"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="outHyperbolicFunc" class="control-label">Гиперболическая</label>
                                            <input id="outHyperbolicFunc" name="outHyperbolicFunc" type="checkbox"
                                                   value="1"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="outExpFunc" class="control-label">Экспонента</label>
                                            <input id="outExpFunc" name="outExpFunc" type="checkbox" value="2"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="outSinFunc" class="control-label">Синус</label>
                                            <input id="outSinFunc" name="outSinFunc" type="checkbox" value="3"/>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset3">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Сохранение:</h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label for="numOfSavedNetworks" class="control-label">Количество сетей для
                                        сохранения:</label>
                                    <input class="form-control" type="number" min="1" value="5"
                                           name="numOfSavedNetworks" id="numOfSavedNetworks" required="required"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block" id="backBtnInAutoModule">Назад</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block" id="trainBtn">Обучить</button>
                    </div>
                </div>
            </div>


            <div id="user-model-module" hidden="hidden">
                <div class="alert alert-danger alert-dismissable fade in" id="userModelErrorBlock" hidden="hidden">
                    <a href="#" class="close" aria-label="close">&times;</a>
                    <span id="userModelErrorMessage"></span>
                </div>
                <div class="col-md-6">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Выбор сети:</h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label for="mlpRadio" class="control-label">Многослойный перцептрон: </label>
                                    <input id="mlpRadio" name="networkType" type="radio" value="MLP"
                                           checked="checked"/><br/>
                                    <label for="mlpNumOfNeurons" class="control-label">Количество нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="20" value="3"
                                           name="mlpNumOfNeurons" id="mlpNumOfNeurons" required="required"/>

                                    <label for="mlpHiddenFuncSelect" class="control-label">Функция активации скрытых
                                        нейронов:</label>
                                    <select class="selectpicker" id="mlpHiddenFuncSelect">
                                        <option value="0">Сигмоида</option>
                                        <option value="1">Гиперболическая</option>
                                        <option value="2">Экспонента</option>
                                        <option value="3">Синус</option>
                                    </select>

                                    <label for="mlpOutFuncSelect" class="control-label">Функция активации выходных
                                        нейронов:</label>
                                    <select class="selectpicker" id="mlpOutFuncSelect">
                                        <option value="0">Сигмоида</option>
                                        <option value="1">Гиперболическая</option>
                                        <option value="2">Экспонента</option>
                                        <option value="3">Синус</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="rbfRadio" class="control-label">Сеть радиальных базисных
                                        функций: </label>
                                    <input id="rbfRadio" name="networkType" type="radio" value="RBF"/><br/>
                                    <label for="rbfNumOfNeurons" class="control-label">Количество нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="20" name="rbfNumOfNeurons"
                                           id="rbfNumOfNeurons" required="required" disabled="disabled"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block" id="backBtnInUserModelModule">Назад</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block" id="trainUserModelBtn">Обучить</button>
                    </div>
                </div>
            </div>

            <div id="trained-models-module" hidden="hidden">
                <table id="trainedModelsInfoJqGrid"></table>
                <div id="trainedModelsInfoJqGridPager"></div>

                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-primary" id="saveModelsBtn">Сохранить отмеченные модели</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>
</body>
</html>