<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>

<div th:include="fragments/common :: header"></div>

<script>
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';
</script>
<script src="/js/jquery.form.js"></script>

<div class="container">
    <div class="row">

        <div id="load-excel-file-module">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Загрузить Excel-файл:</h3>
                    </div>
                    <h3 class="has-error error" id="message" hidden="hidden"/>
                    <div class="panel-body">
                        <form role="form" method="POST" enctype="multipart/form-data" action="/analysis"
                              id="load-file-form">
                            <fieldset>
                                <div class="form-group">
                                    <label for="file" class="control-label"
                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">Excel
                                        файл:</label>
                                    <input class="form-control" name="file" type="file" id="file" required="required"/>
                                </div>
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary" id="loadFileBtn">Загрузить
                                        файл
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show-excel-file-module" hidden="hidden">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <br/>

    <div class="container">
        <div class="row">
            <div>
                <form action="">
                    <div class="col-md-6">
                        <div class="col-md-6 col-md-offset-3">
                            <label for="inputColumns" class="control-label">Входные значения: </label>
                            <select class="form-control" multiple="multiple" id="inputColumns">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6 col-md-offset-3">
                            <label for="outputColumns" class="control-label">Выходные значения: </label>
                            <select class="form-control" multiple="multiple" id="outputColumns">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <br/><br/>
            <hr/>
            <div class="col-md-6">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary" id="autoModeBtn">Конфигурация моделей в автоматическом режиме
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary" id="manualModeBtn">Конфигурация моделей в ручном режиме</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="">

            <div id="automatic-mode-module" hidden="hidden">

                <div class="col-md-6">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Тип сети:</h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label for="mlpCheckbox" class="control-label">Многослойный перцептрон: </label>
                                    <input id="mlpCheckbox" name="mlp" type="checkbox" value="MLP"
                                           checked="checked"/><br/>
                                    <label for="mlpMinNumOfNeuron" class="control-label">Минимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" value="3"
                                           name="mlpMinNumOfNeuron" id="mlpMinNumOfNeuron" required="required"/>

                                    <label for="mlpMaxNumOfNeuron" class="control-label">Максимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" value="10"
                                           name="mlpMaxNumOfNeuron" id="mlpMaxNumOfNeuron" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label for="rbfCheckbox" class="control-label">Сеть радиальных базисных
                                        функций: </label>
                                    <input id="rbfCheckbox" name="rbf" type="checkbox" value="RBF"/><br/>
                                    <label for="rbfMinNumOfNeuron" class="control-label">Минимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" name="rbfMinNumOfNeuron"
                                           id="rbfMinNumOfNeuron" required="required" disabled="disabled"/>

                                    <label for="rbfMaxNumOfNeuron" class="control-label">Максимальное число нейронов на
                                        скрытом слое:</label>
                                    <input class="form-control" type="number" min="3" max="30" name="rbfMaxNumOfNeuron"
                                           id="rbfMaxNumOfNeuron" required="required" disabled="disabled"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" id="mlpActivationFunctions">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Функции активации многослойного перцептрона:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4 class="panel-title">Нейроны скрытого слоя:</h4>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="hiddenLogisticFunc" class="control-label">Логистическая</label>
                                            <input id="hiddenLogisticFunc" name="hiddenLogisticFunc" type="checkbox"
                                                   value="hiddenLogisticFunc"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="hiddenHyperbolicFunc"
                                                   class="control-label">Гиперболическая</label>
                                            <input id="hiddenHyperbolicFunc" name="hiddenHyperbolicFunc" type="checkbox"
                                                   value="hiddenHyperbolicFunc"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="hiddenExpFunc" class="control-label">Экспонента</label>
                                            <input id="hiddenExpFunc" name="hiddenExpFunc" type="checkbox"
                                                   value="hiddenExpFunc"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="hiddenSinFunc" class="control-label">Синус</label>
                                            <input id="hiddenSinFunc" name="hiddenSinFunc" type="checkbox"
                                                   value="hiddenSinFunc"/>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="panel-title">Нейроны выходного слоя:</h4>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="outLogisticFunc" class="control-label">Логистическая</label>
                                            <input id="outLogisticFunc" name="outLogisticFunc" type="checkbox"
                                                   value="outLogisticFunc"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="outHyperbolicFunc" class="control-label">Гиперболическая</label>
                                            <input id="outHyperbolicFunc" name="outHyperbolicFunc" type="checkbox"
                                                   value="outHyperbolicFunc"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="outExpFunc" class="control-label">Экспонента</label>
                                            <input id="outExpFunc" name="outExpFunc" type="checkbox" value="outExpFunc"
                                                   checked="checked"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="outSinFunc" class="control-label">Синус</label>
                                            <input id="outSinFunc" name="outSinFunc" type="checkbox"
                                                   value="outSinFunc"/>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">Назад</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">Обучить</button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>
<script type="text/javascript" src="/js/excel-sheet.js"></script>
</body>
</html>