<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>

<div th:include="fragments/common :: header"></div>

<div class="container">
    <div id="choose-model-module">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Выберите модель нейронной сети:</h3>
            </div>
            <div class="panel-body">
                <div th:each="model : ${networkModels}">
                    <div class="mix"
                         th:classappend="${model.isPerceptronModel ? 'mlp' : 'rbf'} + ${model.isPerceptronModel ? ' hidden-' + model.perceptron.hiddenActivationFunc : ''} + ${model.isPerceptronModel ? ' out-' + model.perceptron.outActivationFunc : ''}">

                        <h3><a th:href="@{/model/compute(id=${model.id})}" th:text="${model.name}"></a></h3>

                        <h4>Дата создания: <span th:text="${model.dateOfCreation}"></span></h4>
                        <h5>Ошибка: <span th:text="${model.error}"></span></h5>

                        <div th:if="${model.isPerceptronModel}">
                            <h5 th:if="${model.perceptron.hiddenActivationFunc}">Функция активации скрытого слоя: <span
                                    th:text="${model.perceptron.hiddenFuncFormatted}"></span></h5>
                            <h5 th:if="${model.perceptron.outActivationFunc}">Функция активации выходного слоя: <span
                                    th:text="${model.perceptron.outFuncFormatted}"></span></h5>
                        </div>

                        <h5>Описание: <span th:text="${model.description}"></span></h5>

                        <h5>Входные колонки: </h5>
                        <ul class="list-group" id="inputMlpColumns"
                            th:each="col : ${model.inputColumns}">
                            <li class="list-group-item" th:text="${col.name}"></li>
                        </ul>
                        <h5>Выходные колонки: </h5>
                        <ul class="list-group" id="outMlpColumns" th:each="col : ${model.outColumns}">
                            <li class="list-group-item" th:text="${col.name}"></li>
                        </ul>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>
</body>
</html>