<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>
<div th:include="fragments/common :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form modelAttribute="doctorDTO" th:action="@{/doctor}" method="POST" action="#">
                <input type="hidden" id="id" name="id" th:value="${doctor.id}"/>
                <div class="form-group">
                    <label for="login">
                        Логин:
                    </label>
                    <input type="text" class="form-control" readonly="readonly" id="login" name="login"
                           th:value="${doctor.login}" required="required"/>
                </div>
                <div class="form-group">
                    <label for="email">
                        Email:
                    </label>
                    <input type="email" class="form-control" id="email" name="email" th:value="${doctor.email}"
                           required="required"/>
                </div>
                <div class="form-group">
                    <label for="name">
                        Имя:
                    </label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${doctor.name}"
                           required="required"/>
                </div>
                <div class="form-group">
                    <label for="surname">
                        Фамилия:
                    </label>
                    <input type="text" class="form-control" id="surname" name="surname"
                           th:value="${doctor.surname}" required="required"/>
                </div>
                <div class="form-group">
                    <label for="middleName">
                        Отчество:
                    </label>
                    <input type="text" class="form-control" id="middleName" name="middleName"
                           th:value="${doctor.middleName}" required="required"/>
                </div>
                <div class="form-group">
                    <label for="position">
                        Должность:
                    </label>
                    <input type="text" class="form-control" id="position" name="position"
                           th:value="${doctor.position}" required="required"/>
                </div>
                <button type="submit" class="btn btn-default">Обновить значения</button>
            </form>
        </div>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>
</body>
</html>