<!doctype html>
<html>
<head th:include="fragments/common :: head"></head>
<body>
<div th:include="fragments/common :: header"></div>

<script>
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

<footer th:include="fragments/common :: footer"></footer>
<script type="text/javascript" src="/js/excel-sheet.js"></script>
</body>
</html>