<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>

<div th:include="fragments/common :: header"></div>

<div class="container">
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br/>
            All you get is this text and a mostly barebones HTML document.</p>
    </div>
</div>

<footer th:include="fragments/common :: footer"></footer>
</body>
</html>