<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>
<div th:include="fragments/common :: header"></div>
<script src="/js/network-model.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger alert-dismissable fade in" id="modelErrorBlock" hidden="hidden">
                <span id="modelErrorMessage"></span>
            </div>
            <form action="/model/file/" method="POST">
                <input type="hidden" id="modelId" name="modelId" th:value="${networkModel.id}"/>
                <button type="submit" class="btn btn-default pull-right">Сохранить в файл</button>
            </form>
            <br/>
            <form modelAttribute="modelDTO" th:action="@{/model}" method="POST" action="#">
                <input type="hidden" id="id" name="id" th:value="${networkModel.id}"/>
                <input type="hidden" id="isPerceptronModel" name="isPerceptronModel"
                       th:value="${networkModel.isPerceptronModel}"/>
                <div class="form-group">
                    <label for="name">
                        Название:
                    </label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${networkModel.name}"
                           required="required"/>
                </div>
                <div class="form-group">
                    <label for="description">
                        Описание:
                    </label>
                    <textarea name="description" class="form-control" id="description" rows="5"
                              th:field="${networkModel.description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="error">
                        Ошибка:
                    </label>
                    <input type="number" readonly="readonly" class="form-control" id="error" name="error"
                           th:value="${networkModel.error}"/>
                </div>

                <div class="form-group" th:if="${networkModel.isPerceptronModel}">
                    <label for="hiddenFuncFormatted">
                        Функция активации скрытого слоя:
                    </label>
                    <input type="text" readonly="readonly" class="form-control" id="hiddenFuncFormatted"
                           th:value="${networkModel.perceptron.hiddenFuncFormatted}"/><br/>
                    <label for="outFuncFormatted">
                        Функция активации выходного слоя:
                    </label>
                    <input type="text" readonly="readonly" class="form-control" id="outFuncFormatted"
                           th:value="${networkModel.perceptron.outFuncFormatted}"/>
                </div>

                <div class="form-group">
                    <label>
                        Входные колонки
                    </label>
                    <ul class="list-group" id="inputMlpColumns"
                        th:each="col : ${networkModel.inputColumns}">
                        <li class="list-group-item" th:text="${col}"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>
                        Выходные колонки
                    </label>
                    <ul class="list-group" id="outMlpColumns" th:each="col : ${networkModel.outColumns}">
                        <li class="list-group-item" th:text="${col}"></li>
                    </ul>
                </div>

                <div id="remove-model-confirm" title="Удаление модели">
                    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Данная
                        модель будет удалена. Вы уверены?</p>
                </div>

                <button type="submit" class="btn btn-primary">Обновить значения</button>
                <button type="button" class="btn btn-danger pull-right" id="removeModelBtn">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить модель
                </button>
            </form>
        </div>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>
</body>
</html>