<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>
<div th:include="fragments/common :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Мои модели: </h3>
            <hr/>
            <div th:each="model : ${networkModels}">
                <div class="modelItem">
                    <h3><a th:href="@{/model(id=${model.id})}" th:text="${model.name}"></a></h3>
                    <h4>Дата создания: <span th:text="${model.dateOfCreation}"></span></h4>
                    <h5>Ошибка: <span th:text="${model.error}"></span></h5>
                    <h5 th:if="${model.hiddenActivationFunction}">Функция активации скрытого слоя: <span
                            th:text="${model.hiddenActivationFunction}"></span></h5>
                    <h5 th:if="${model.outActivationFunction}">Функция активации выходного слоя: <span
                            th:text="${model.outActivationFunction}"></span></h5>
                    <h5>Описание: <span th:text="${model.description}"></span></h5>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>
</body>
</html>