<!doctype html>
<html>
<head th:include="fragments/common :: head">
</head>
<body>
<div th:include="fragments/common :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Мои модели: </h3>
            <hr/>
            <div th:each="model : ${networkModels}">
                <div class="modelItem">
                    <h3><a th:href="@{/model(id=${model.id})}" th:text="${model.name}"></a></h3>
                    <h4>Дата создания: <span th:text="${model.dateOfCreation}"></span></h4>
                    <h5>Ошибка: <span th:text="${model.error}"></span></h5>
                    <h5 th:if="${model.hiddenActivationFunction}">Функция активации скрытого слоя: <span
                            th:text="${model.hiddenFuncFormatted}"></span></h5>
                    <h5 th:if="${model.outActivationFunction}">Функция активации выходного слоя: <span
                            th:text="${model.outFuncFormatted}"></span></h5>
                    <h5>Описание: <span th:text="${model.description}"></span></h5>
                    <h5>Входные колонки: </h5>
                    <div th:if="${model.isPerceptronModel}">
                        <ul class="list-group" id="inputMlpColumns" th:each="col : ${model.perceptron.inputColumns}">
                            <li class="list-group-item" th:text="${col}"></li>
                        </ul>
                    </div>
                    <div th:unless="${model.isPerceptronModel}">
                        <ul class="list-group" id="inputRbfColumns" th:each="col : ${model.rbfNetwork.inputColumns}">
                            <li class="list-group-item" th:text="${col}"></li>
                        </ul>
                    </div>
                    <h5>Выходные колонки: </h5>
                    <div th:if="${model.isPerceptronModel}">
                        <ul class="list-group" id="outMlpColumns" th:each="col : ${model.perceptron.outColumns}">
                            <li class="list-group-item" th:text="${col}"></li>
                        </ul>
                    </div>
                    <div th:unless="${model.isPerceptronModel}">
                        <ul class="list-group" id="outRbfColumns" th:each="col : ${model.rbfNetwork.outColumns}">
                            <li class="list-group-item" th:text="${col}"></li>
                        </ul>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>
</body>
</html>